.navbar {
    background-color: rgb(250, 116, 6);
}
.search{
    width: 19em;
    height: 2.5em;
    margin-left: 40px;
    border-radius: 30px;
    margin-bottom: 10px;
    
}

.navbar-nav-onto {
    display: flex;
    justify-content: space-between;

}
.main2{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: nowrap;
    height: 310px;
    /* background-color: #3F0686; */
}

.categories{
    width:300px;
    height: 300px;
    border-radius: 10px;
    color: #7c7474;
    background-color: #fff;
    margin-right: 10px;
    box-shadow: 2px 7px 17px 0px rgba(0,0,0,0.5);
-webkit-box-shadow: 2px 7px 17px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 2px 7px 17px 0px rgba(0,0,0,0.5);

}

.slider{
    width: 850px;
    margin-right: 10px;
}
.carousel-inner{
    height: 400px !important;
    border-radius: 10px !important;
}
.main3-img{
 
    width: 100%;
    object-fit: contain;
 
 
}
.services{
    font-size: 16px !important;
    background-color: #FFF1EB;
    padding: 10px;
}

.services:hover{
    background-color: #f5e4dc;
}
.bi-check-square-fill{
    color:#f65506;
}
.bi-truck{
    color: #007787;
}
.bi-sign-turn-left-fill{
    color: #3F0686;
}
.bi-tag-fill{
    color: #f65506;
}
.bi-bag-check-fill{
    color: #3F0686;
}
.categories-img{
    width: 80px;
    height: 80px;
    object-fit: contain;
   
}
.line{
    height: 50px ;
    width: 1px;
    background-color: #c7b1a7;
    margin-top:24px;
}
p{
    text-align: center;
}
p:hover{
    color: #f65506;
}

.d-block{
    height: 18.5em;
}

.gallery{
    margin: 3px;
    float: left;
    width: 180px;
 }
 .gallery img{
    width:160px;
    height:180px;
   
 }
 .flash{
    color: #7c7474;

 }

 .salebox{
    padding: 1px;
    width: 920px;
   border: 2px solid rgb(255, 255, 255);
   box-shadow: 2px 7px 17px 0px rgba(0,0,0,0.5);
   -webkit-box-shadow: 2px 7px 17px 0px rgba(0,0,0,0.5);
   -moz-box-shadow: 2px 7px 17px 0px rgba(0,0,0,0.5);
}


.sale1{
    font-size: 20px;
    color: #f65506;
}

.sale{
    
        border: 2px solid #f65506;
        margin-left: 40px;
        margin-right: 300px;
        background-color: #f0efef;
        color: #e20606;
        width: 920px;
    
}
 

 .money{
    width: 10px;
    height: 30px;
    color: rgb(246, 134, 6);

 }

 .shop{
    position: absolute;
    top: 730px;
     bottom: 5px;
margin-left: 800px;
 }

 .par{
    position: absolute;
    margin-right: 220px;
    color: black;
    
 }
 .cat{
    color: rgb(90, 87, 87);
 }

 .money1{
    width: 10px;
    height:30px;
    font-size: 15px;
    margin-bottom: 30px;
 }

.off{
    color: rgb(253, 250, 250);
    margin-right: 30px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.comp1{
    color: rgb(95, 94, 93);
}


.us{
    margin-right: 50px;
    margin-top: 10px;
}

.Footer{
    margin-top: 110%;
}
.Product-text{
   margin-bottom: 1px;
   font-size: 10px;
   margin-right: 60px;
}
